/*.color1 { #ff5252 };
.color2 { #75c9a3 };
.color3 { #bac99a };
.color4 { #ffc897 };
.color5 { #f3e5ab };*/
body {
    margin: 0;
    background-color: #f3e5ab;
    color: #42393b;
}

.mainDiv {
    align-items: center;
    text-align: center;
    background-image: url("./images/question-icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

header {
    background-color: #f3e5ab; /* Color de fondo del encabezado */
    padding: 10px 0; /* Espaciado interno superior e inferior */
    text-align: right;
    align-items: right;
    align-content: right;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 3px solid #42393b;
}

header button {
    background-color: #f3e5ab;
    border: 3px solid #42393b;
    border-radius: 5px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    height: 50px;
    width: 60px;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

header button:hover {
    background-color: #9e956e;
    transform: scale(1.1);
}

header button img {
    height: 50%;
}

h1 {
    margin-top: 350px;
}

a {
    text-decoration: none; /* Elimina el subrayado en los enlaces */
    color: #42393b; /* Hereda el color del texto del elemento padre */
    background: transparent; /* Fondo transparente */
    border: 3px solid #42393b;
    border-radius: 5px;
    font-weight: normal; /* Peso de fuente normal */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 4px 4px 0px #42393b;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #42393b;
    color: #fff;
  }
