/*.color1 { #ff5252 };
.color2 { #75c9a3 };
.color3 { #bac99a };
.color4 { #ffc897 };
.color5 { #f3e5ab };*/
body {
    margin: 0;
    background-color: #f3e5ab;
    color: #42393b;
    font-family: 'Kanit';
}

.mainDiv {
    background-image: url("./images/question-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 250px;
    align-items: center;
    text-align: center;
}

header {
    background-color: #f3e5ab; /* Color de fondo del encabezado */
    padding: 10px 0; /* Espaciado interno superior e inferior */
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 3px solid #42393b;
}

header button {
    background-color: #f3e5ab;
    border: 3px solid #42393b;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
    width: 60px;
    margin-right: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

header button:hover {
    background-color: #9e956e;
    transform: scale(1.1);
}

header button img {
    height: 50%;
}
#help{
    display: flex;
    position: fixed;
    flex-direction: row-reverse;
    width: 100%;
}
.container{
    padding-left: 33%;
    padding-right: 33%;
    
}

.questionHidden {
    display: none; 
}

#btnInici, #buttonNext {
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background: none;
    color: inherit;
    font-family: inherit;
    border: 3px solid #42393b;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    height: 50px;
    box-shadow: 4px 4px 0px #42393b;
    transition: color 0.3s, background-color 0.3s;
}

#btnInici:hover , #buttonNext:hover {
    color: white;
    background-color: #42393b;
}

#feedback1, #feedback11, #feedback2, #feedback22, #feedback3, #feedback33 {
    display: none;
} 
.panel{
    position: absolute;
    top:0;
    left:0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
    transition: transform 300ms;
    z-index:-1;
}
.panel div{ 
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background: beige;
    width: 400px;
    height:400px;
    z-index:1000;
}
.panel[
    data-on='on'
] {transform: scale(1);}.panel[data-on='off']{transform: scale(0);}

.mainTitle {
    margin-top: 320px;
    font-size: 40px;
    margin-bottom: 150px;
}

.rankingButton {
    font-size: 25px;
    margin-right: 25px;
    text-decoration: none; /* Elimina el subrayado en los enlaces */
    color: #42393b; /* Hereda el color del texto del elemento padre */
    background: transparent; /* Fondo transparente */
    border: 3px solid #42393b;
    border-radius: 5px;
    font-weight: normal; /* Peso de fuente normal */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 4px 4px 0px #42393b;
    transition: background-color 0.3s, color 0.3s;
}

.playButton {
    font-size: 25px;
    margin-left: 25px;
    text-decoration: none; /* Elimina el subrayado en los enlaces */
    color: #42393b; /* Hereda el color del texto del elemento padre */
    background: transparent; /* Fondo transparente */
    border: 3px solid #42393b;
    border-radius: 5px;
    font-weight: normal; /* Peso de fuente normal */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 4px 4px 0px #42393b;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #42393b;
    color: #fff;
}

.instructions {
    width: 40%;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

.tableDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 10%;
    width: 30%;
    border: 5px solid #42393b;
    box-shadow: 6px 6px 0px #42393b;
    border-radius: 5px;
    overflow: hidden;
}

table {
    border-collapse: collapse; /* Elimina el espacio entre las celdas */
    width: 100%; /* Establece el ancho de la tabla */
    border-left: transparent;
    border-right: transparent;
}

td {
    border-bottom: 2px solid #42393b;
    padding: 8px; /* Espaciado interno para celdas */
    text-align: center;
}

td p {
    margin: 0;
    padding: 0;
    text-align: justify;
}

thead {
    text-align: justify;
    background-color: #ffc897;
    border-bottom: transparent;
    border-right: transparent;
    border-top: transparent;
    height: 40px;
}

th {
    padding-left: 8px;
}

h1 {
    text-align: center;
}

.centered-link {
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#question1, #question2, #question3 {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.questionText {
    font-size: 40px;
    margin-bottom: 0;
    background-color: #ffc897;
}

.answer-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(2, 1fr); /* 2 rows */
    gap: 50px; /* Gap between elements */
    list-style: none; /* Delete the default style of the ul */
    text-align: center;
    width: 80%;
    padding: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: 30px;
}

.answer-list li {
    position: relative;
    cursor: pointer;
    height: 50px;
}

.answer-list input[type="radio"] {
    /* use the input radius circle itself to make the select box or button */
    position: absolute;
    z-index: 10;
    opacity: 0; /* Hide the input radio but still have function */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.answer-list input[type="radio"] + label::before {
    /* custom button */
    content: "";
    display: inline-block;
    width: 100%;
    height: 50px;
    border: 3px solid #42393b;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #42393b;
    transition: height 0.3s;
    position: absolute;
    left: 5px;
    top: 25%;
    transform: translateY(-30%);
}

.answer-list input[type="radio"] + label {
    transition: font-size 0.3s;
}

.answer-list input[type="radio"]:hover + label::before {
    height: 70px;
}

.answer-list input[type="radio"]:hover + label {
    font-size: 35px;
}

.answer-list input[type="radio"]:checked + label::before { 
    background-color: none; /* Color de fondo del botón cuando está seleccionado */
}

.correct + label::before {
    background-color: rgba(117, 201, 163, 0.5);
}

.incorrect + label::before {
    background-color: rgba(255, 82, 82, 0.7);
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background: #f3e5ab;
    padding: 20px;
    border: 3px solid #42393b;
    border-radius: 5px;
    box-shadow: 4px 4px 0px #42393b;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.standardButton {
    margin-left: auto;
    margin-right: auto;
    background: inherit;
    color: inherit;
    font-family: inherit;
    border: 3px solid #42393b;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    height: 50px;
    box-shadow: 4px 4px 0px #42393b;
    transition: color 0.3s, background-color 0.3s;
}

.standardButton:hover {
    background-color: #42393b;
    color: #fff;
}

text {
    font-size: 30px;
    color: #42393b;
}

#chart {
    margin-bottom: 30px;
}

.loading {
    display: none;
    width: 50px;
    height: 50px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #42393b;
    border-radius: 50%;
    margin: 50px auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }